<ul>
  <% @links.each do |link| %>
    <li>
    	<p><a href="<%= link.url %>"><%= link.title %></a></p>
    	<p><a href="<%= link_path(link) %>">Comments</a></p>
    </li>
  <% end %>
  <%= will_paginate @links, :page_links => false %>
</ul>